<div class="container p-3">
  <h1>Stupid Coaching</h1>
  <div class="row">
    <div class="col-6">
      <label for="basic-url" class="form-label">Ask your coach anything</label>
      <form action="/answer" data-turbo="false" class="input-group">
        <input class="form-control" type="text" name="question" id="question">
        <input class="input-group-text" type="submit" value="Ask!">
      </form>
    </div>
  </div>
</div>
